{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.username }}</h2>

  <h3>Your Tournaments:</h3>
  <div class="row">
    {% for tournament in user_tournaments %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title" style="color: #000;">{{ tournament.name }}</h5>
            <p class="card-text" style="color: #000;">Number of Teams: {{ tournament.no_of_teams }}</p>
            <p class="card-text" style="color: #000;">Number of Matches: {{ tournament.no_of_matches }}</p>
            <p class="card-text" style="color: #000;">Number of Teams per Group: {{ tournament.no_of_teams_per_group }}</p>
            <form action="{% url 'update_standings' tournament_name=tournament.name %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Update Standings</button>
            </form>
          </div>
        </div>
      </div>
    {% empty %}
      <p style="color: #000;">You haven't created any tournaments yet.</p>
    {% endfor %}
  </div>

  <form action="{% url 'create_tournament' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Create Tournament</button>
  </form>
{% endblock %}
